<header>
    <h1>
        <strong>hover</strong>
        to reveal creations, contributions, and collections on the web <br/> made by Vaiva Staugaitytė<h1>
            <p class="last-updated">last updated: 29 oktober, 2025</p>
        </header>