<header>
    <h1><strong>hover</strong> to reveal creations, contributions, and collections on the web <br />
    made by Vaiva Stau<h1>
    <p class="last-updated">last updated: 19. marts 2025</p>
</header>