<header>
    <h1>where will you go?</h1>
    <p><a href="https://vaiva.space">vaiva.space</a>'s creations and contributions on the web</p>
    <p class="last-updated">last updated: 19. marts 2025</p>
</header>