  header, footer, main {
    padding: 2rem 2rem 1rem 2rem;
  }

  header, footer {
    margin: 0 auto;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 1rem;
      letter-spacing: 1rem;
    }

    .last-updated {
        font-size: 0.7rem;
        margin-top: 0.35rem;
        color: var(--text-light);
        font-family: var(--mono-font);
    }
  }

  footer {
    letter-spacing: 0.3rem;
  }
