/* GLOBAL VARIABLES */
:root {
  --sans-font: "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --bg: rgba(242, 242, 242, 0.25);
  --accent-bg: #f5f7ff;
  --text: #000000;
  --block-tester: rgb(118, 71, 46);
  --link: #000000;
  --link-bg: rgba(255, 255, 255, 0.15);

  --global-radius: 0.3rem;
}

/* CSS RESET */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: var(--text);
  text-decoration: none;
  background-color: var(--link-bg);
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  transition: all 0.1s;

  &:hover {
    background-color: rgb(255, 255, 0, 20%);
  }
}

body {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: normal;
  font-family: var(--sans-font);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CUSTOM STYLES */
.ghost {
  opacity: 0;
}